<br><br>
<label>Hai {{user}}!</label>

<br><br>
<label>
 the sum is: {{purchaseSumFromCart}}
</label>

<form [formGroup] = "orderForm" name = "ordering"(ngSubmit)="save()">
  <br>
  <label>Name:  </label>
  <!-- <mat-form-field> -->
  <!-- *ngIf="user == '' " -->
  <input type="text" matInput formControlName="customerName" [class.inoutError] = "!customerName.valid && (customerName.dirty)" >
  <!-- <br> -->
<!-- </mat-form-field> -->
  <div *ngIf="!customerName.valid">
    <div *ngIf="customerName.errors.required && (customerName.dirty || customerName.touch)">
      <label>Customer name is required</label>
    </div>
    <div *ngIf="customerName.errors.minlength">
      <label>Customer name must contain minimum 2 charcters</label>
    </div>
    <div *ngIf="customerName.errors.maxlength">
      <label>Customer have to be under of 20 charcters</label>
    </div>
  </div>

 <br>
    <!-- check specific Check integrity to phone -->
  <label>Phone: </label>
  <!-- *ngIf="userPhone == ''" -->
  <input type="text" formControlName="customerPhone" [class.inputError] = "!customerPhone.valid && ( customerPhone.dirty )" >
  <!-- <br> -->
  <div *ngIf="!customerPhone.valid"> 
  <div *ngIf="customerPhone.errors.required && (customerPhone.dirty || customerPhone.touch)">
    <label>Customer phone is required</label>
       <div *ngIf="customerPhone.errors.digitsOnly">
      <label>Customer phone is not valid (must contain digits only and to be on this musk: celular - 05******** /landline 0********) </label>
    </div>
  </div> 
  <!-- <div *ngIf="customerPhone.errors.digitsOnly">
      <label>Customer phone is not valid (must contain digits only and to be on this musk: celular - 05******** /landline 0********) </label>
    </div> -->
  <div *ngIf="customerPhone.errors.minlength">
    <label>Customer phone must contain minimum 9 digits</label>
  </div>
  <div *ngIf="customerPhone.errors.maxlength">
    <label>Customer have to be under of 10 digits</label>
  </div>
</div>

<br>
  <label>*Credit card number: </label>
  <input type="text" formControlName="creditCard" [class.inputError]="!creditCard.valid && ( creditCard.dirty )">
  <br>
  <div *ngIf="!creditCard.valid"> 
    <div *ngIf="creditCard.errors.required && (creditCard.dirty || creditCard.touch)">
      <label>Credit card number is required</label>
   </div>
    <div *ngIf="creditCard.errors.minlength">
      <label>Credit card number must contain minimum 8 digits</label>
    </div>
    <div *ngIf="creditCard.errors.maxlength">
      <label>Credit card number have to be under of 18 digits</label>
    </div>
    <div *ngIf="creditCard.errors.digitsOnly">
      <label>Credit card number must contain only digits</label>
    </div> 
  </div>

  <br>
  <!-- mask of month/day -->
  <label>*Credit card date: </label>
  <!-- <input type="text" formControlName="creditDate" [class.inputError]="!creditDate.valid && ( creditDate.dirty || creditDate.touch )" >
  <br>
  <div *ngIf="!creditDate.valid"> 
    <div *ngIf="creditDate.errors.required && (creditDate.dirty || creditDate.touch)">
      <label>Credit Date is required</label>
    </div>
    <div *ngIf="creditDate.errors.date">
        <label>Credit date must be on this mask: month/year</label>
      </div>
  </div> -->

  <select>
    <option *ngFor=""></option>
  </select>

<br>
  <label>*Credit card Digits:  </label>
  <input type="text" formControlName="creditDigits" [class.inputError] = "!creditDigits.valid && ( creditDigits.dirty )">
  <br>
  <div *ngIf="!creditDigits.valid">
    <div *ngIf="creditDigits.errors.required && (creditDigits.dirty || creditDigits.touch)">
      <label>Three digits are required</label>
    </div>
    <div *ngIf="creditDigits.errors.maxlength">
      <label>must be three digits!</label>
    </div>
  </div>

  <label>delivery</label>
  <input type="checkbox" (click)="delivery = !delivery">
  <label>on place</label>
  <input type="checkbox" (click)="delivery = false" [checked] = "!delivery" >
  <br>
  <div *ngIf="delivery == true">
  <label>Delivery address:  </label>
  <input type="text" formControlName="deliveryAddress" [class.inputError] = "!deliveryAddress.valid" >
  <br>
  <div *ngIf="!deliveryAddress.valid">
    <div *ngIf="deliveryAddress.errors.maxlength">
      <label>max lenght is 200 letters</label>
    </div>
  </div>
</div>
<br>
 <!-- <label>group name:</label> -->
 <!-- <input type="text" formControlName="groupName" [class.inputError] = "!groupName.valid" hidden>
 <br>
 <div *ngIf="!groupName.valid">
  <div *ngIf="groupName.errors.maxlength">
    <label>max lenght is 15 letters</label>
  </div>
</div> -->

<a (click)="group = !group" >group</a>
<app-group *ngIf="group" class="groupComp" (get-group-id)="getGroupId($event)"></app-group>  

<br>
<label>reserved seats: </label>
<input type="number" formControlName="reservedSeats">


<!-- <input type="checkbox" formControlName="club" hidden> -->

<!-- <br>
<br>
<label>tip: </label>
<br>
<label>10%</label>
<input type="checkbox" name="tenPercentTipCB" (click)="checkTip(1)">
<Label>another sum: </Label>
<input type="checkbox" name="tipCB" id="tipCB" (click)="checkTip(2)">
<input type="number" formControlName="tip"   formControlName="tip">
<br> -->

<br>
<!-- <input type="number" formControlName="purchaseSum" hidden> -->

<br>
<label>receipt time: </label>
<!-- <input type="time" [min]="minTime" [max] ="maxTime" placeholder="{{minTime | date : 'HH:mm:ss'}}" formControlName="receiptTime" [class.inputError] = "!receiptTime.valid && ( receiptTime.dirty || receiptTime.touch )"/>
<br>
<div *ngIf="!receiptTime.valid">
    <div *ngIf="receiptTime.errors.required && (receiptTime.dirty || receiptTime.touch)">
        <label>receipt time is required</label>
      </div>
      <div *ngIf="receiptTime.errors.min"> the time is mot in the opening hours of the store </div>
</div> -->

<select>
  <option *ngFor="">
  </option>
</select>
 

<input type="submit" value="Save" [disabled]="!orderForm.valid" class="btn btn-primary"/>
</form>

<label> receipt time: {{minTime | date:'HH:mm:ss'}} max {{maxTime | date:'HH:mm:ss'}}</label>
<label> form status: {{ orderForm.status }}</label>
<!-- <label>{{ user | json }}</label> -->