.router{
    margin: 100px;
}

.outlet{
    padding: 5vw;
    padding-top: 0px;
}
.icons{
    width: 30px;
    float: right;
    margin-bottom: 5px;
bottom: 5px;
margin-right: 20px;
margin-top: 10px;
}


.store-logo{
width: 30px;
}

.menu{
width: 30px;
}
.comment{
width: 30px;
}

.cart{
    width: 30px;
}
.logo{
    /* Style for "logo" */
    width: 50px;
    height: 50px;
    /*margin: 0vh 0vw 0vh 60vw;*/
    float: left;
    margin: 10px;
}

span{
    margin-left: 10px;
    /* font-weight: 300; */
    /* font-size: 15px; */
    /* top: 20px; */
}

.navbar-main{ 
display: inline-block;
width: 100vw;
} 

.navbar-link{
    /* display: inline-block; */
    margin-left:2px;
    margin-right: 30px;
    /* float: right; */
    /* float: right; */
}

.user-name{
    font-size: 15px;
    margin-left: 20px;
    float: left;
    line-height: 0.5;
}
.user-name{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    line-height: 0.5;
}
.link{
    color: black;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}
.link.active{
    color: #AF0000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.inner-list{
    position: absolute;
    background-color: #ffffff;
    width: 80px;
    text-align: center;
    border: 1px solid #af0000;
    padding: 2px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 45px;
}


@media screen and (max-width: 400px) {
  .navbar{
      display: inline-block;
  }  
}