<body>
    <div class="navbar-main" *ngIf="!login">
        <a href="/"><img src="/assets/imgs/1/logo.png" class="logo"></a>
        <div class="navbar-link">
            <div>
                <span (click)="changeProfile()" class="user-name"><br><br>Hi, {{userName}}!</span>
                <div class="inner-list" *ngIf="profile">
                    <a class="link" (click)="signOut()">sign out</a>
                </div>
            </div>
            <!-- menu -->
            <span *ngIf="storePage" class="icons" [routerLink]="['/categoriesList']" style="margin-right:200px;">
                <img class="menu"  src="https://img.icons8.com/ios-filled/50/000000/menu.png">
            </span>
            <!-- store logo -->
            <span *ngIf="(product || cart ) && !storePage" class="icons" [routerLink]="['/storePage']" style="margin-right:200px;">
                <img class="store-logo" width="100px" src="{{Store.img}}">
            </span>
            <!-- cart -->
            <span [routerLink]="['/cart']" class="icons" *ngIf="storePage || menu || product || cart">
                <img class="cart" src="https://img.icons8.com/metro/50/000000/shopping-cart.png">
            </span>

        </div>
    </div>
    <div class="outlet">
        <router-outlet class="router"></router-outlet>
    </div>
</body>