.link{
    color: black;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}
.link.active{
    color: #AF0000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.link-div{
    display: inline-block;
    margin: 5px;
}
.store-div{
    display: inline-block;
    vertical-align: top;
    border: #AF0000 1px solid;
    border-radius: 10px;
    width: 150px;
    height: 260px;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
}
.store-logo{
    max-height:50px;
    max-width:400px;
    height:auto;
    width:auto;
}
.stores-list{
    margin-top: 20px;
}
h4{
    font-weight: bold;
    color: #AF0000;
}
.pin-svg{
    display: inline;
    vertical-align: middle;
    margin: 5px;
}
.pin-div{
    display: inline-block;
    /*text-align: right;*/
    /*float: right;*/
    vertical-align: middle;
}
.pin-num{
    color: gray;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 900;
}
.address{
    font-size: 13px;
}
.hechsher{
    font-size: 12px;
}
.center{
    text-align: center;
}
.filter{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.btn-pill{
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    display: block;
    cursor: pointer;
    border-radius: 14px;
    float: right;
    margin-right: 10px;
    color: #ffffff;
}
.btn-pill:hover{
    background-color: lightgray;
    color: #af0000;
}
.inner-list{
    position: absolute;
    background-color: #ffffff;
    width: 80px;
    text-align: center;
    border: 1px solid #af0000;
    padding: 10px;
    border-radius: 10px;
    margin-left: -11px;
}
.inner-location{
    border: none;
    position: absolute;
    margin-left: -60px;
    background-color: #ffffff;
    margin-top: -5px;
}
.clear{
    color: gray;
    font-weight: bold;
    margin-left: 10px;
}