<button class="btn-pill center-btn" (click)="products()">Product</button>
<br>
<br>
<div class="filter">
  <strong style="cursor: default;">filter by: </strong>
  <div class="link-div">
    <a class="link" [class.active]="filter=='category'" (click)="changeFilter('category')"> category </a>
    <div class="inner-list" *ngIf="filter=='category'">
      <p *ngFor="let c of categoriesList"><a (click)="categoryFilter(c.Id)" class="link">{{c.Category}}</a></p>
    </div>
  </div>
  <div class="link-div">
    <a class="link" [class.active]="filter=='kashrut'" (click)="changeFilter('kashrut')"> kashrut </a>
    <div class="inner-list" *ngIf="filter=='kashrut'">
      <p *ngFor="let h of hechshersList">
        <a (click)="kashrutFilter(h.Id)" class="link">{{h.Hechsher}}</a>
      </p>
    </div>
  </div>
  <div class="link-div">
    <a class="link" [class.active]="filter=='location'" (click)="changeFilter('location')"> location </a>
    <div class="inner-location" *ngIf="filter=='location'">
      <br>
      <app-googlemaps-autocomplete #location *ngIf="afterLoading" (setAddress)="getAddress($event)" adressType="geocode"
        [currentAddress]="userAddress"></app-googlemaps-autocomplete>
    </div>
  </div>
  <div class="link-div">
    <span class="link" (click)="sort=!sort;filter=''" [class.active]="sort"> sort </span>
    <div class="inner-list" *ngIf="sort">
      <a class="link" (click)="sortByDistance()">Distance</a>
      <br>
      <a class="link" (click)="sortByName()">Store name</a>
      <!-- <br>
      <a (click)="sortByCategory()">Category</a> -->
    </div>
  </div>
  <div class="link-div">
    <span class="link clear" (click)="clearFilters()"> clear </span>
  </div>
</div>


<div class="stores-list" *ngIf="storesList">
  <div (click)="storeCohsen(store.store.id)" class="store-div" *ngFor="let store of storesList">

    <!--distance-->
    <div class="pin-div">
      <svg width="19" height="26" viewBox="0 0 19 26" fill="none" class="pin-svg">
        <path
          d="M9.14062 0C4.09794 0 0 4.09804 0 9.14062C0 10.8469 0.472367 12.5075 1.37114 13.9395L8.52099 25.6402C8.64296 25.8382 8.82578 25.9602 9.03911 25.9906C9.32846 26.0363 9.64853 25.9145 9.81606 25.625L16.9864 13.8176C17.8394 12.4161 18.2812 10.786 18.2812 9.14062C18.2812 4.09804 14.1833 0 9.14062 0ZM9.14062 13.7109C6.58135 13.7109 4.57031 11.6391 4.57031 9.14062C4.57031 6.6269 6.6269 4.57031 9.14062 4.57031C11.6543 4.57031 13.7109 6.6269 13.7109 9.14062C13.7109 11.6238 11.7304 13.7109 9.14062 13.7109Z"
          fill="#FD003A" />
        <path
          d="M9.14062 0V4.57031C11.6543 4.57031 13.7109 6.6269 13.7109 9.14062C13.7109 11.6238 11.7304 13.7109 9.14062 13.7109V25.9995C9.40057 26.0056 9.66789 25.881 9.81601 25.625L16.9863 13.8176C17.8394 12.4161 18.2812 10.786 18.2812 9.14062C18.2812 4.09804 14.1833 0 9.14062 0Z"
          fill="#E50027" />
      </svg>
    </div>
    <div class="pin-div pin-num"> {{store.distance | number : '1.1-2'}} km </div>

    <div class="center">
      <!--line-->
      <svg width="115" height="1" viewBox="0 0 115 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0.5H114.5" stroke="black" stroke-width="0.5" />
      </svg>

      <!--store logo-->
      <img class="store-logo" src="{{store.store.img}}">
      <!--store name-->
      <h4>{{store.store.storeName}}</h4>
      <strong>
        <span
          *ngIf="store.store.storeCategory!=null&&store.store.storeCategory!=0">{{getCategory(store.store.storeCategory)}}</span>
        <span *ngIf="store.store.storeCategory==null&&store.store.storeCategory==0">no category</span>
      </strong>
      <br>
      <!--store kashrut-->
      <span class="hechsher"
        *ngIf="!kashrutHasImg(store.store.kashrutCertifiction)">{{getKashrut(store.store.kashrutCertifiction)}}</span>
      <!-- <img *ngIf="kashrutHasImg(store.store.kashrutCertifiction)" src="getKashrutImg(store.store.kashrutCertifiction)"> -->
      <br>
      <!-- <br> -->
      <!--store address-->
      <span class="address">{{store.store.storeAddress}}</span>
    </div>
  </div>
</div>