.login-board{
    border:solid 2px #af0000;
    display: block;
    margin:0px 100px 0px 9vw;
    padding:20px;
    width:70vw;
    height: 70vh;
    text-align: center;
}
.inputs{
    /* margin:0px 400px 0px 400px; */
}
.submit{
    /* margin:0px 20vw 0px 3.5vw; */
    /* width:3vw; */
}
.submit-btn{
    /* background: red; */
    width:5vw;
}

.card-body{
    text-align: center;
}

.btn-pill{
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 0vh 3vw; */
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
color: #ffffff;
font-family: Tahoma;
font-size: 13px;
font-weight: 400;
}
.btn-pill:hover{
background-color: lightgray;
}