<div class="login-board">
<div class="card">
  <article class="card-body">
    <!-- <h3 class="card-title text-center mb-4 mt-1">Sign in</h3> -->
    <h3 style="text-align:center">Login </h3>
    <!-- <p class="text-center"><a href="#" (click)="signUp()" class="btn">Don't have an account? Sign Up</a></p> -->
    <hr>
    <form #loginForm="ngForm" (ngSubmit)="login()"  class="inputs">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input #email type="email" name="userEmail" class="form-control" placeholder="Email Address" [(ngModel)]="user.userEmail" 
            id="email" required minlength="3" maxlength="320" #userEmail="ngModel">
        </div> <!-- input-group.// -->
          <div *ngIf="userEmail.errors"  class="lblError">
            <div *ngIf="userEmail.errors.required && (userEmail.dirty || userEmail.touch)"><label>Email address is required</label>
              <!-- <br> -->
              <br></div>
            <div *ngIf="userEmail.errors.minlength"><label>Email address must contain at least 2 characters</label><br>
              <!-- <br> -->
            </div> 
            <div *ngIf="userEmail.errors.maxlength"><label>Email length is too long</label><br>
              <!-- <br> -->
            </div>
            <!-- <br><br> -->
          </div>
      </div> <!-- form-group// -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input type="password" name="userPassword" class="form-control" placeholder="Password" [(ngModel)]="user.userPassword"
            id="password" required minlength="4" maxlength="20" #userPassword="ngModel">
        </div> <!-- input-group.// -->
        <div *ngIf="userPassword.errors"  class="lblError">
          <div *ngIf="userPassword.errors.required && (userPassword.dirty || userPassword.touch)"><label>Password field is required</label>
            <!-- <br> -->
            <br></div>
          <div *ngIf="userPassword.errors.minlength"><label>Password must contain at least 6 characters</label><br>
          <!-- <br> -->
          </div> 
          <div *ngIf="userPassword.errors.maxlength"><label>Password length cannot exceed 20 characters</label><br>
            <!-- <br> -->
          </div>
          <!-- <br><br> -->
        </div>
      </div> <!-- form-group// -->
      <div class="form-group submit" >
        <input type="submit" value="login" [disabled]="!loginForm.form.valid" class="btn btn-pill submit-btn">
      </div> <!-- form-group// -->
      <p class="text-center" (click)="initPassword(email.value)"><a class="btn">Forgot password?</a></p>
    </form>
  </article>
</div>
  
</div>