
<div class="likeNav">
  Have to be navbar
</div>
<ul>
  <li *ngFor="let c of categories" (click)="categoryChosen(c)" >
    {{c | json}}
  </li>
</ul>

<p>-----------------------</p>

<button id = "find-me" (click)="geoFindMe()">Show my location</button><br/>
<p id = "status"></p>
<a id = "map-link" target="_blank"></a>