<div *ngIf="thisStore" class="store">
  <div class="left">

    <strong>
      <label class="store-name">{{thisStore.storeName}}</label>
    </strong>
    <br>
    <label class="details">{{getCategory(thisStore.storeCategory)}}</label>
    <br>
    <label class="details">{{getHechsher(thisStore.kashrutCertifiction)}}</label>
  </div>
  <div class="right">
      <img src="{{thisStore.img}}">
  </div>

  <div>
  <h4 class="red-color">About our store:</h4>
  <p>{{thisStore.about}}</p>
  </div>

  <br>
  <br>
  <!--   <app-responses></app-responses>
  <br>
  <br> -->
  <div class="links">
    <a routerLink="/categoriesList" class="btn-pill">menu</a>
    <br>
    <br>
    <a routerLink="/quickOrder" class="btn-pill">Quick Product</a>
    <!-- <a *ngIf="favoritePurchases" routerLink="/favorite" class="btn-pill"><br><br>favorite</a> -->
  </div>


</div>