.store{
    margin: 20px;
}
.btn-pill{
    /* float: right; */
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    /* margin: 0vh 3vw; */
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
    color: #ffffff;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: 400;
    float: right;
    margin-right: 5vw;
    width: 130px;
}
.btn-pill:hover{
    background-color: lightgray;
}
.store-name{
    font-style: normal;
    font-weight: 900px;
    font-size: 28px;
    line-height: 28px;

    color: #AF0000;
    margin-bottom: 10px;;
}
.details{
    font-weight: normal;
    font-size: 18px;
}
.left{
    display: inline-block;
    height: 20vh;
    width: 60%;
    vertical-align: top;
}
.right{
    display: inline-block;
    height: 20vh;
    vertical-align: top;
    width: 35%;
}
img{
    float: right;
    width:100px;
}
.red-color{
    color: #af0000;
}
.links{
    vertical-align: bottom;
}