label {
    font-weight: bold;
    color: green;
}
.product-image{
    width: 94px;
    height: 94px;
    border: 1px solid #af0000;
    border-radius: 100%;
    padding: 0px;
}
.product-div{
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.product-name{
    color: #000000;
    font-size: 14px;
}
.price-badge{
    width: 60px;
}
.mat-badge-content{
    background : #af0000;
  }
.price{
    color: #af0000;
    font-size: 16px;
}