<div *ngIf="products">
  <div *ngFor="let p of products" class="product-div" (click)="productChosen(p.id)">
      <br>
    <div>
        <img class="product-image" width="100px" src="{{p.productImage}}">
      </div>
      <br>
      <label class="product-name"><strong>{{p.productName}}</strong></label>
      <br>
      <span class="price"> {{p.productPrice}}₪ </span>
  </div>
</div>