<div class="content">
   <button (click)="openDialog()" class="btn-pill">new worker</button>
   <br><br>
<ag-grid-angular
    *ngIf="!errorMessage"
    style="width: 90vw; height: 85vh;" 
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
>
</ag-grid-angular>

<p *ngIf="errorMessage" class="text-center errorMessage">{{errorMessage}}</p>


 
</div>