<div class="steps">

  <div id="personalStep" class="order-step order-step-active" (click)="nextComponent(3)">1</div>
  <div id="orderStep" class="order-step" (click)="nextComponent(0)">2</div>
  <div id="summaryStep" class="order-step" (click)="nextComponent(2)">3</div>
</div>
<div class="sum"><span>{{getSum()}}₪</span></div>

<div class="orderWizard" id="wizard">
  <!-- (get-personal)="nextComponent($event)" -->
  <app-order-personal-details (validation)="validStep1($event)" *ngIf="personal" (expand-div)="expandDiv($event)"></app-order-personal-details>
  <!-- <br> -->
  <!-- <app-group *ngIf="nextGroup" (get-group)="nextComponent($event)"></app-group> -->
  <!-- <br> -->
  <!-- (get-order)="nextComponent($event)" -->
  <app-order-details (validation)="validStep2($event)" *ngIf="nextOrder"></app-order-details>
  <!-- <br> -->
  <!-- (get-summary)="nextComponent($event)"  -->
  <app-order-summary (validation)="validStep3($event)" *ngIf="buy"></app-order-summary>
  <div class="footer-wizard">
    <input type="button" value="pre" *ngIf="pre" (click)="preComponent()" class="btn-pill btn_pre" />

    <input type="button" value="next" id="nextBTN" *ngIf="next" (click)="nextCo()" class="btn-pill only_next" />
    <input type="button" value="buy" *ngIf="buy" (click)="buyFnc()" class="btn-pill next_btn">
  </div>
</div>