.orderWizard{
    position:relative; 
    border: solid #af0000 1px;
    border-radius: 10px; 
    /* margin-left: 20vw; */
    height: 75vh;
    padding:3vh 3vw 3vh 3vw;
    margin-top: 5.5vh;
}

.bigWizard{
    /* border: solid #af0000 1px; */
    /* border-radius: 10px;  */
    /* margin-left: 20vw; */
    /* width:40vw; */
    height: 90vh;
    /* padding:3vh 3vw 3vh 3vw; */
    /* margin-top: 10vh; */
}


.sum{
    color:#af0000;
    font-size: 25px;
    font-weight: bold;
    margin-left: 220px;
    position: absolute;
    z-index: 1;
}

.steps{
    position:absolute; 
    /* margin-top: 20vh; */
    margin-left:40px;
    z-index:1;
}
.order-step{
    padding:1.5px;
    display: inline-block;
    margin: 3vh 1vw;
    width: 30px;
    height: 30px;
    border:#af0000 solid 1px;
    border-radius: 40px;
background-color: white;
color:black;
text-align:center;
font-weight: bold;
font-size:20px;
}

.order-step-active{
    background-color: #af0000;
}

.footer-wizard{
    /* float: inline-end; */
    position: absolute;
    padding: 2vh 0vw;
    bottom: 0;
}

.next_btn{
    /* float: right; */
    margin-left: 140px;
}

.only_next{
    margin-left:200px;
}
.btn_pre{
    /* float: left; */
    /* margin-left:2vw; */
}

.btn-pill{
    /* float: right; */
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 0vh 3vw; */
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
color: #ffffff;
font-family: Tahoma;
font-size: 13px;
font-weight: 400;
}
.btn-pill:hover{
background-color: lightgray;
}