<ul *ngIf="purchasesList!=null">
  <li *ngFor="let p of purchasesList" (click)="purchaseChosen(p.id)">
    {{p.id}} | {{p.purchaseDate}} |
    <span *ngFor="let p of getProducts(p.id)">{{p.productName}} * </span>
  </li>
</ul>
<div *ngIf="purchasesList==null||purchasesList.length==0">
  <span>You don't have favorite purchases</span>
</div>
