<div *ngIf="productsTastes && productsTastes.length>0">
  <div class="tastes-title" (click)="changeStatus()"> <span>Tastes</span></div>
  <div *ngIf="tastes">
    <div class="tasteDiv" [class.chosenTasteDiv]="chosenTaste==t.id" id="taste{{t.id}}" *ngFor="let t of productsTastes"
      (click)="tasteChosen(t.id)">
      <img class="tastes-img" src="{{t.tasteImage}}" />
      <br>
      <span class="taste-name">{{t.tasteName}}</span>
    </div>
  </div>

</div>