img{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}
.taste-name{
    color: #000000;
    font-size: 14px;
    margin-top: 2px;
}
.tasteDiv{
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.chosenTasteDiv{
    opacity: 0.5;
}
.tastes-title{
    color: #af0000;
    font-size: 20px;
    font-weight: 700;
}
.tastes-img{
    width: 60px;
    height: 60px;
    border: 1px solid #af0000;
}