<h1 mat-dialog-title>Product Details</h1>
<div mat-dialog-content>
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputName">Name</label>
        <input type="text" [(ngModel)]="model.productName" name="productName" class="form-control" id="inputName" placeholder="product Name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputPrice">Price</label>
        <input type="number" [(ngModel)]="model.productPrice" name="productPrice" class="form-control" id="inputPrice" placeholder="Price" min="0">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputPreperationTime">preperation Time</label>
        <input type="number" [(ngModel)]="model.preperationTime" name="preperationTime" class="form-control" id="inputPreperationTime" placeholder="preperationTime" required min="0">
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" [mat-dialog-close]="" cdkFocusInitial>Save</button>
</div>