

<h1 mat-dialog-title class="header">Worker Details</h1>
<div mat-dialog-content>
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputEmail">Email</label>
        <input type="email" [(ngModel)]="model.userEmail" name="userEmail" class="form-control" id="inputEmail" placeholder="Email" minlength="3" maxlength="250">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputName">Name</label>
        <input type="text" [(ngModel)]="model.userName" name="userName" class="form-control" id="inputName" placeholder="Full Name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputCity">Phone Number:</label>
        <input type="tel" [(ngModel)]="model.userPhone" name="userPhone" class="form-control" id="inputCity" placeholder="000-0000000" required minlength="9" maxlength="10">
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelClick()" class="btn-pill">Cancel</button>
  <button mat-button (click)="onSubmit()" [mat-dialog-close]="" cdkFocusInitial class="btn-pill">Save</button>
</div>