<input type="button" class="btn-pill" (click)="back()" value="back">
<div>
    <br>
<input type="text" #searchBox (keyup)="(0)">
<i class="material-icons">search</i>
</div>
<br>
<table *ngIf="purchasesAndGroupes.length">
    <tr>
        <th></th>
        <th>customer name</th>
        <th>customer phone</th>
        <th>reciept time</th>
        <th>sum</th>
    </tr>
    <tr *ngFor="let purchase of purchasesAndGroupes | historySearch:searchBox.value " >
        <td><i class="material-icons" (click)="openDialog(purchase)">expand_more</i></td>
        <td>{{getCustomerName(purchase)}}</td>
        <td>{{getCustomerPhone(purchase)}}</td>
        <td>{{getReceiptTime(purchase)}}</td>
        <td>{{getSum(purchase)}}</td>
    </tr>
</table>
<!-- | historySearch:searchBox.value -->
