th{
    width: max-content;
    padding-right: 2vw;
    text-align: center;
}

td{
    width: max-content;
    padding-right: 2vw;
    text-align: center;
}

.btn-pill{
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 0vh 3vw; */
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
color: #ffffff;
font-family: Tahoma;
font-size: 1vw;
font-weight: 400;
}
.btn-pill:hover{
background-color: lightgray;
}
