
<div class="close">
  <i class="material-icons" (click)="onNoClick()">close</i>
</div>
<body>
<span class="title">send message</span>

<br>
<span class="text">send sms to <span class="inner-text">{{name}}</span> phone number </span> <span class="inner-text">{{phone}}</span>
<hr>
<mat-form-field>
  <mat-label class="text">{{selectedValue}}</mat-label>
<mat-select #message class="text" [(value)]="selectedValue">
  <mat-option *ngFor="let message of messages" value="{{message}}">{{message}}</mat-option>
</mat-select>
</mat-form-field>
<br>
<span *ngIf="sent" class="sent"> message sent successfully!</span>
<span *ngIf="error" class="error"> error while sending the message!</span>
<br>
<button (click)="sendSms(message.value)" class="btn-pill">send</button></body>