.custom-control{
    width:100px;
}

.delivery-control{
   width:auto;
    /* max-width: 400px; */
}
.time-control{
    width:80px;
    display:inline-block;
}



.wizard-title{
    color:#af0000;
    font-weight: bold;
    font-size: 30px;
}
