<span class="wizard-title">Order Details</span>
<br>
<div id="groupAttention" *ngIf="group != undefined">
    <p>
        you joined to group <strong>{{group.groupName}}</strong>!
        <br>
        the delivery details and reciept time were edit by the manager of the group.
    </p>
</div>
<br>
<div *ngIf="group == undefined">
    <!-- <span>Delivery  </span> -->
    <div id="checkbox">
        <input type="radio" id="onPlace" [checked]="true" name="delivery" (click)="setDelivery(false)"> pick up
        <br>
        <input type="radio" id="delivery" name="delivery" (click)="setDelivery(true)"> delivery
    </div>

    <div *ngIf="Delivery">
        <label>delivery address: </label>
        <input type="text" id="deliveryAddress" [(ngModel)]="deliveryAddress" class="form-control delivery-control">
    </div>

    <br>
    <label>Reciept time: </label>
    <br>
    <span> day: </span>
    <br>
    <select (change)="selectDay($event.target.value)" class="form-control custom-control">
        <option *ngFor="let day of Days">{{day}}</option>
    </select>

    <br>
    <span>hour minute</span>
    <br>
    <select *ngIf="!DayFlag" class="select" (change)="selectHour($event.target.value)" class="form-control time-control">
        <option class="option" *ngFor="let hour of todaysHoursArray">{{hour}}</option>
    </select>
    <select *ngIf="DayFlag" class="select" (change)="selectHour($event.target.value)" class="form-control time-control">
        <option class="option" *ngFor="let hour of tomorrowsHoursArray">{{hour}}</option>
    </select> :
    <select (change)="setMinutes($event.target.value)" class="form-control time-control">
        <option *ngFor="let minute of minutes"> {{minute}}</option>
    </select>
    <br><br>
    <span>reserved seats: </span>
    <input type="number" value="0" [(ngModel)]="reservedSeats" class="form-control custom-control" />

</div>
<br>
<!-- <div>
    <input type="button" value="pre" (click)="preComponent()" class="btn-pill"/>
    
    <input type="button" value="next" (click)="saveOrderDetails()" class="btn-pill next_btn"/> 

</div> -->