<div class="formDiv">
  <form (submit)="onSubmit()" class="example-form">
    <mat-form-field  hintLabel="Minimum 2 characters">
      <input type="text" matInput [(ngModel)]="model.storeName" name="storeName" #inputName placeholder="Store Name" minlength="2" maxlength="50" required>
      <mat-hint align="end">{{inputName.value?.length || 2}}/50</mat-hint>
    </mat-form-field>
    <mat-form-field  hintLabel="Between 9-10 digits">
      <input type="text" matInput [(ngModel)]="model.storeAddress" name="storeAddress" #inputAddress placeholder="Address" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="tel" matInput [(ngModel)]="model.phone" name="phone" #inputPhone required placeholder="Phone Number" required>    
      <mat-error *ngIf="inputPhone.invalid">must have valid phone</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput [(ngModel)]="model.kashrutCertifiction" name="kashrutCertifiction" id="inputKashrut" placeholder="Kashrut" required minlength="2" maxlength="50">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Bank" aria-label="Text" matInput  [matAutocomplete]="auto" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let bank of banks" [value]="bank">
          {{bank}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput [(ngModel)]="model.brunch" placeholder="Brunch" name="brunch" id="inputBrunch" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="text" matInput [(ngModel)]="model.account" placeholder="Account" name="account" id="inputAccount" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Category" aria-label="Text" matInput [matAutocomplete]="auto" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-form-field hintLabel="Maxinum 300 characters">
      <textarea matInput [(ngModel)]="model.about" name="about" id="inputAbout" placeholder="About..." rows="4" minlength="2" maxlength="300"></textarea>
      <mat-hint align="end">{{inputName.value?.length || 2}}/300</mat-hint>
    </mat-form-field>
    <div>
      <img *ngIf="image!=''" id="img1" src="{{image}}" class="img-fluid" alt="Responsive image" />
      <img *ngIf="image==''" id="img2" src="{{model.img}}" class="img-fluid" alt="Responsive image" />
      <input type="file" id="file" accept="image/*" name="File" (change)="handleFileInput($event.target.files)">
      <!-- <input type="file" class="btn" (change)="upload($event.target.files)" required> -->
    </div>
    
    <br>
    <mat-checkbox>Reserved Seats</mat-checkbox>
    <br>
    <mat-checkbox>Club</mat-checkbox>
    <br>
    <mat-checkbox>Tip</mat-checkbox>
    <br>
    <mat-checkbox>Store Load</mat-checkbox>
    <br>
    <br>
    <button type="submit" mat-raised-button class="btn-pill">Save Changes</button>
    <!-- color="primary" -->
  </form>
</div>
<div class="previewDiv">
  <app-store-page></app-store-page>
</div>