mat-form-field{
    margin: 20px;
}

.formDiv{
    float: left;
}

.previewDiv{
    width: 50vw;
    height: 50vh;
    float: left;
    margin-left: 40px;
    border: 1px purple solid;
    padding: 20px;
}

.btn-pill{
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 0vh 3vw; */
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
color: #ffffff;
font-family: Tahoma;
font-size: 13px;
font-weight: 400;
}
.btn-pill:hover{
background-color: lightgray;
}