<!-- <app-log-in *ngIf="login == 1"></app-log-in>
<app-main *ngIf="login == 0"></app-main>
<app-sign-up *ngIf="login == 2"></app-sign-up> -->


<!--   <div class="navbar" *ngIf="afterLogin">
        <a class="navbar-link" [routerLink]="['/cart']" routerLinkActive="active"><img
                src="/assets/imgs/1/shopping-cart.png" class="icons"></a>
        <a class="navbar-link" [routerLink]="['/storePage']" routerLinkActive="active"><img
                src="/assets/imgs/1/home.png" class="icons"></a>
        <a class="navbar-link" [routerLink]="['/categoriesList']" routerLinkActive="active"><img
                src="/assets/imgs/1/menu.png" class="icons"></a>
        <img src="/assets/imgs/1/logo.png" class="logo">

    </div>

    <br /><br />
    <div class="outlet">
        <router-outlet class="router"></router-outlet>
    </div>-->

<div class="body">
   <app-main></app-main>
</div>