.router{
    margin: 100px;
}

.outlet{
    padding: 5vw;
    padding-top: 0px;
}
.icons{
    width:2vw;
    height: 4vh;
}

.logo{
    /* Style for "logo" */
width: 71px;
height: 71px;
margin: 20px 0vw 0vh 60vw;
}

.navbar{
display: inline-block;
}

.navbar-link{
    padding: 0vh 2vw 0vh 2vw;
}

.body{
    width:414px;
}

@media screen and (max-width: 414px) {
    .body {
      width:100vw;
    margin-left: 0vw;
    }
  
}
@media screen and (min-width: 800px) {
    .body {
        width:450px;
        margin-left: 200px;
    }
}
@media screen and (min-width: 1000px) {
    .body {
        width:500px;
        margin-left: 400px;
    }
  }
  
@media screen and (min-width: 1200px) {
    .body {
        width:600px;
        margin-left: 600px;
    }
  }