<kendo-grid
  [data]="view | async"
  [loading]="view.loading"
  [pageSize]="pageSize"
  [skip]="skip"
  [sortable]="true"
  [sort]="sort"
  [pageable]="true"
  [height]="800"
  [navigable]="true"
  (dataStateChange)="dataStateChange($event)"
  (edit)="editHandler($event)"
  (remove)="removeHandler($event)"
  (add)="createHandler()"
  >
  <ng-template class="toolBar" kendoGridToolbarTemplate>
      <a kendoGridAddCommand>Add new</a>
  </ng-template>
  <kendo-grid-column field="productStatus" title="Status" width="120">
    <ng-template kendoGridCellTemplate let-dataItem>
        <input (click)="changeStatus(dataItem)" type="checkbox" [checked]="dataItem.productStatus"/>
    </ng-template>
    </kendo-grid-column>
  <kendo-grid-column field="id" width="100"></kendo-grid-column>
  <kendo-grid-column field="productName" width="200" title="product Name"></kendo-grid-column>
  <kendo-grid-column field="productPrice" [sortable]="false">
  </kendo-grid-column>
  <div *kendoGridDetailTemplate="let dataItem">
    <app-manager-menu-additions [product]="dataItem"></app-manager-menu-additions>
    <br>
    <app-manager-menu-tastes [product]="dataItem"></app-manager-menu-tastes>
  </div>        
  <kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
        <a kendoGridEditCommand [primary]="true">Edit</a>
        <a kendoGridRemoveCommand>Remove</a>
        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
    </ng-template>
</kendo-grid-command-column>
</kendo-grid>