<table class="table">
  <tr *ngFor="let p of productsList" (click)="navigateToProduct(p.id)">
    <td>{{p.productName}}   {{p.productPrice}}</td>
    <td><img width="100" src="{{p.productImage}}"></td> 
  </tr>
</table>
