.btn_manager{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    /* background-color: orangered; */
    background-color: #af0000;
    overflow: auto;
    padding: 25px 0;
    display: inline-block;
}

.btn_manager:hover{
    text-decoration: none;
    background-color: green;
}

.btn_manager_text{
    font-size: initial;
    text-align: center;
    color: green;
    text-decoration: none;
}

.btn_manager_text:hover{
    text-decoration: none;
}

.btn_manager_div{
    display: inline-block;
    margin: 20px;
}

.btn-pill{
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 0vh 3vw; */
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
color: #ffffff;
font-family: Tahoma;
font-size: 13px;
font-weight: 400;
}
.btn-pill:hover{
background-color: lightgray;
}