
<br><br><button class="btn-pill" routerLink="/openPage" >store</button>

<div class="text-center">
  <div class="btn_manager_div">
    <!-- <a href="managerWorkers"  class="btn_manager"></a> -->
        <a (click)="change(0)"  class="btn_manager"></a>

    <br>
    <span class="btn_manager_text">workers</span>
  </div>
  <div class="btn_manager_div">
    <a (click)="change(1)" class="btn_manager"></a>
    <!-- <a href="managerMenu" class="btn_manager"></a> -->
    <br>
    <span class="btn_manager_text">menu</span>
  </div>
  <div class="btn_manager_div">
    <a (click)="change(2)" class="btn_manager"></a>
    <!-- <a href="managerStore" class="btn_manager"></a> -->

    <br>
    <span class="btn_manager_text">store</span>
  </div>
  <!-- <div class="btn_manager_div">
    <a (click)="change(3)" class="btn_manager"></a>
    <a href="purchasesHistory" class="btn_manager"></a> -->
<!-- 
    <br>
    <span class="btn_manager_text">purchases history</span>
  </div> -->
  <!-- <div class="btn_manager_div">
    <a href="purchasesHistory" class="btn_manager"></a>
    <br>
    <span class="btn_manager_text">favorite purchases</span>
  </div> -->
</div>

<app-manager-workers *ngIf="workers"></app-manager-workers>
<app-manager-menu *ngIf="menu"></app-manager-menu>
<app-manager-store *ngIf="store"></app-manager-store>
