<!--The content below is only a placeholder and can be replaced.-->
<body>
  <!-- <nav class="navbar-inverse">
          <div class="container-fluid">
              <ul class="nav navbar-nav">
                  <li><a [routerLink]="['/openPage']"  routerLinkActive="active">Home</a></li>
                  <li><a [routerLink]="['/login']"  routerLinkActive="active">Login</a></li>
              </ul>
          </div>
      </nav> -->
<div class="worker">
      <app-worker *ngIf="!login"></app-worker></div>
      <img src="/assets/imgs/1/logo.png" class="logo">
      <br />
      <div class="outlet">
          <router-outlet class="router"></router-outlet>
      </div>
</body>

<!-- <span>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></span> -->