<kendo-grid
[data]="view | async"
[loading]="view.loading"
[pageSize]="view.length"
kendoGridFocusable
(edit)="editHandler($event)"
(remove)="removeHandler($event)"
(add)="createHandler()"
>
<kendo-grid-column field="id" title="id" width="50">
</kendo-grid-column>
<kendo-grid-column field="additionName" title="addition Name">
</kendo-grid-column>
<kendo-grid-column field="additionPrice" title="addition Price" format="{0:c}">
</kendo-grid-column>  
<kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
        <a kendoGridEditCommand [primary]="true">Edit</a>
        <a kendoGridRemoveCommand>Remove</a>
        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
    </ng-template>
</kendo-grid-command-column>
<ng-template kendoGridToolbarTemplate>
    <a kendoGridAddCommand>Add new</a>
</ng-template>
</kendo-grid>