/* .next_btn{
float:right;
} */


.wizard-title{
    color:#af0000;
    font-weight: bold;
}

/* 
.btn_pre{
    float: left;
} */

.btn-pill{
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 0vh 3vw; */
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
color: #ffffff;
font-family: Tahoma;
font-size: 13px;
font-weight: 400;
}
.btn-pill:hover{
background-color: lightgray;
}


.sum-text{
    text-align: center;
}