<h3 class="wizard-title">Summary</h3>
<br><div class="sum-text">
<label>sum: </label>
<label>{{getSum()}}₪</label></div>
<br><br>
<app-payment-paypal [sum]="getSum()"></app-payment-paypal>
<!-- <input type="button" value="pre" (click)="preComponent()" class="btn-pill btn_pre" />

<input type="button" (click)="save()" value="buy" class="btn-pill next_btn">
 -->
