<h1 mat-dialog-title>Product Details</h1>
<div mat-dialog-content>
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputName">Name</label>
        <input type="text" [(ngModel)]="model.tasteName" name="tasteName" class="form-control" id="inputName" placeholder="Taste Name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <input type="checkbox" [(ngModel)]="model.additionStatus" name="additionStatus" id="inputStatus" required min="0">
        <label for="inputStatus">Status</label>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelClick()" class="btn-pill">Cancel</button>
  <button mat-button (click)="onSubmit()" [mat-dialog-close]="" cdkFocusInitial class="btn-pill">Save</button>
</div>