<form #addResponseForm="ngForm" (ngSubmit)="onSubmit()">

  <label>Name: </label>
  <input type="text" name="userName" #userName="ngModel" class="{{classError}}" required [(ngModel)]="newResponse.userName"  >
  <br>
  <label>Email Address: </label>
  <small>your email address won't be discover to rhe other users in the site.</small>
  <input type="text" name="email" #email="ngModel" class="{{classError}}" required [(ngModel)]="newResponse.email"  >
  <br>
  <label>Header: </label>
  <input type="text" name="header" #header="ngModel" class="{{classError}}" required [(ngModel)]="newResponse.header" >
  <br>
  <label>Content:</label>
  <input type="text" name="content" #content="ngModel" class="{{classError}}" required [(ngModel)]="newResponse.content">
  <br>
  <div class="form-row">
    <input type="submit" value="Save" [disabled]="!addResponseForm.form.valid" >
  </div>
</form>