<div>
  <i class="material-icons" (click)="onNoClick()">close</i>
</div>

<div id="head">
  <span class="popUpHeader">{{getName()}}</span>
</div>
<table>
  <tr id="headers">
    <th>product</th>
    <th>count</th>
  </tr>
  <tr *ngFor="let p of purchasesProducts" (click)="getAdditions(p.id ,$event)">
    <td>{{getProductName(p.product)}}</td>
    <td>{{p.productCount}}</td>
  </tr>
</table>




<!-- <a class="close" (click)="onNoClick()">&times;</a> -->