<h3 mat-dialog-title>Get New Password</h3>
<div mat-dialog-content>
    <form class="form">
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" #email>
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelClick()">Cancel</button>
    <button mat-raised-button color="warn" (click)="initPassword(email.value)"> Send Me!</button>
</div> 
