.center{
    margin:5vh 10vw;
}
.inputs{
    margin-left: 10px;
    width:310px;
}
.bookmark{
    background-color: #af0000;
    display: inline-block;
    width: 44vw;
    height: 6vh;
    color: white;
    text-align: center;
    padding: 3.5px;
    padding-top: 10px;
    font-weight: bold;
}
.bookmark-active{
    background-color: white;
    display: inline-block;
    width: 45vw;
    height: 6vh;
    color:black;
    text-align: center;
    padding:3.5px;
    padding-top: 10px;
    font-weight: bold;

}
.bookmark:click{
    background-color: white;
  
}
#signupDiv{
    float: right;
}
.login-wizard{
    border:#af0000 solid 1px;
    width:90vw;
    height: 75vh;
}
.signup-wizard{
    border:#af0000 solid 1px;
    width:90vw;
    height: 75vh;
}
.content{
    padding:25px;
    margin-top: 20px;
}
.footer{
    padding-left: 6vw;
    text-align: center;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}  
.example-full-width {
    width: 100%;
}
.forgot-link{
    color:black;
}
    .sign-link{
    background-color: black;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0vh 3vw;
    cursor: pointer;
    border-radius: 14px;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: 400;
}
.btn-pill{
    /* float: right; */
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0vh 3vw;
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
    color: #ffffff;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: 400;
}
.btn-pill:hover{
    background-color: lightgray;
    color: #af0000;
}
.small-text{
    font-size: 12px;
    color: #af0000;
    text-align: center;
}
.err{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #af0000;
}