<div id="registration-wizard" class="login-wizard">
  <div id="loginDiv" class="bookmark-active" (click)="changeBookmark(true)">
    Log in
  </div>
  <div id="signupDiv" class="bookmark" (click)="changeBookmark(false)">
    sign up
  </div>
  <div class="content">
    <div *ngIf="loginBookmark">
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <br>
        <!-- <div class="form-row"> -->
        <div class="form-group">
          <div class="input-group">
            <!-- <div class="form-holder"> -->
            <!-- <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div> -->
            <label>User Email: </label>
            <!-- <mat-form-field class="example-full-width">
                    <input matInput #email type="email" name="userEmail"[(ngModel)]="user.userEmail" 
                    id="email" required minlength="3" maxlength="320" #userEmail="ngModel" value="Sushi">
                  </mat-form-field> -->
            <div>
              <input (focus)="errorMessage=false" #email type="email" name="userEmail" class="form-control inputs"
                placeholder="Email Address" [(ngModel)]="user.userEmail" id="email" required minlength="3"
                maxlength="320" #userEmail="ngModel">
            </div>
          </div> <!-- input-group.// -->
          <div *ngIf="userEmail && userEmail.errors" class="lblError">
            <mat-error *ngIf="userEmail.errors.required && (userEmail.dirty || userEmail.touch)">
              <p class="err">Email address is required</p>
            </mat-error>
            <mat-error *ngIf="userEmail.errors.minlength">
              <p class="err">Email address must contain at least 2 characters</p>
            </mat-error>
            <mat-error *ngIf="userEmail.errors.maxlength">
              <p class="err">Email length is too long</p>
            </mat-error>
          </div>
        </div> <!-- form-group// -->
        <!-- </div> -->
        <br>
        <div class="form-group">
          <label>User Password: </label>
          <div class="input-group">
            <!-- <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div> -->
            <input (focus)="errorMessage=false" type="password" name="userPassword" class="form-control inputs"
              placeholder="Password" [(ngModel)]="user.userPassword" id="password" required minlength="4" maxlength="20"
              #userPassword="ngModel">
          </div> <!-- input-group.// -->
          <div *ngIf="userPassword.errors" class="lblError">
            <p class="err" *ngIf="userPassword.errors.required && (userPassword.dirty || userPassword.touch)">
              <label>Password is required</label>
            </p>
            <p class="err" *ngIf="userPassword.errors.minlength">
              <label>Password must contain at least 4 characters</label>
            </p>
            <p class="err" *ngIf="userPassword.errors.maxlength">
              <label>Password length cannot exceed 20 characters</label>
            </p>
            <!-- <br><br> -->
          </div>
        </div> <!-- form-group// -->
        <p *ngIf="errorMessage" class="small-text">sorry, your login details are incorrect :(</p>
        <div class="footer">
          <p (click)="openDialog()"><a class="btn forgot-link">Forgot Password?</a></p>
          <div class="form-group">
            <input type="submit" value="login" [disabled]="!loginForm.form.valid" class="btn-pill center-btn">
          </div> <!-- form-group// -->

          <p><button (click)="asGuest()" class="btn sign-link">Sign in as a guest</button></p>
        </div>
        <!-- </div> -->
      </form>
    </div>
    <div *ngIf="!loginBookmark">
      <app-sign-up></app-sign-up>
    </div>
  </div>
</div>