<div class="close">
  <i class="material-icons" (click)="onNoClick()">close</i>
</div>
<br>
<label>Name</label>
<br>
<form>
<mat-form-field>
<input matInput type="text" #name >
</mat-form-field>
<br>
<label>Password</label>
<br>
<mat-form-field>
<input matInput type="password" #password>
</mat-form-field></form>
<br><br>

<br>
<span *ngIf="error" class="error">incorrect login details</span>
<button class="btn-pill" (click)="login(password.value , name.value)">login to duty</button>