.title{
    font-size: 30px;
    color: #af0000;
    font-weight: 1000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #af0000; 
}

.title:after{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; 
}

.center{
    text-align: center;
}

.categories-names{
    width: 191px;
    height: 27px;
    color: #af0000;
    font-family: Tahoma;
    font-size: 20px;
}

.arrow{
    font-size: 30px;
    color: #af0000;
    padding-bottom:2px;
    vertical-align: middle;
}

.categories{
    display: block;
}
