
<div id="categories center">
  <h3 class="title borders center">Menu</h3>
  <ul style="list-style-type:none;">
    <li *ngFor="let category of categories" (click)="expandCategory(category)"> 
 
      <span class="categories-names" >
        <i class="material-icons arrow" id="arrow{{category.id}}">arrow_right</i>
      {{category.category}}</span>    
      <div class="categories">
        <app-products-list [category]="category" *ngIf="categoryPresentation[category.id]"></app-products-list>
      </div>
    </li>
  </ul>
</div>