<div *ngIf="thisStore">
  <p>{{thisStore.storeName}}</p>
  <div>
    <img width="100" src="{{thisStore.img}}">
  </div>
  <p>{{thisStore.about}}</p>

  <br>
  <br>
  <br>
  <br>
  <table>
    <tr>
      <td>
        <a routerLink="#" class="btn-pill">Quick Order</a>
      </td>
      <td>
        <a routerLink="#" class="btn-pill">menu</a>
      </td>
        <!-- <a routerLink="#" class="btn-pill">favorite</a> -->
    </tr>
  </table>
</div>

