
.product-img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 20px;
    border: solid 1px #af0000;
}

.product-name{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #AF0000;
}

.product-price{
    text-align: center;
    /* margin: 0vh 0vw 0vh 10vw; */
    padding: 2.5vh 0vw 0vh 0.5vw;
    width: 10vw;
    height: 10vw;
    border: 3px solid #000000;
    border-radius:10vw;
    background-color: #af0000;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    margin-left:20vw;
    margin-top:40vh;
    position: absolute;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .product-price{
        border:1px solid black;
    }
}
.price{
    width: 90px;
    height: 90px;
    border: 3px solid #000000;
    border-radius:90px;
    background-color: #af0000;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.btn-pill{
    background-color: #af0000;
    border: none;
    
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    /* Style for "add to car" */
    color: #ffffff;
    font-family: Tahoma;
    font-size: 15px;
    font-weight: 400;
    width: 130px;
}
.btn-pill:hover{
    background-color: lightgray;
}
.buttons{
    display: block;
    margin-right: 30vw;
    margin-top:5vw;
}
.center{
    text-align: center;
}
.quantity{
    width: 22px;
    font-size: 20px;
    text-align: center;
    color: #af0000;
    margin-left: 10px;
}
.store-name{
    font-size: 18px;
    line-height: 21px;
    color: #717171;
    bottom: 20px;
}
.store-name-div{
    position: fixed;
    bottom: 0;
    background-color: white;
    height: 22px;
    width: 100%;
    margin-top: 10px;
}
.cart{
    float: right;
    margin-right: 30px;
}
.buy{
    margin-left: 30px;
}