<div class="product">
    <div class="center"><span class="product-name">{{thisProduct.productName}} | {{thisProduct.productPrice}}₪</span>
        <br>
        <div>
            <img class="product-img" width="300px" src="{{thisProduct.productImage}}" />
        </div>
            <span>Quantity: </span>
        <mat-form-field class="quantity">
            <input matInput type="number" value="1" #quantity>
        </mat-form-field>
    </div>
    <br>
    <app-additions [productId]="thisProduct.id" *ngIf="thisProduct"></app-additions>
    <app-tastes [productId]="thisProduct.id" *ngIf="thisProduct"></app-tastes>
    <button (click)="buy()" class="btn  btn-pill buy">Buy now</button>
    <button (click)="addToCart(quantity.value)" class="btn  btn-pill cart">Add to cart</button>
</div>

<div class="store-name-div">
    <span class="store-name">{{storeName()}}</span>
</div>