<div *ngFor="let response of responsesList">
  <div class="response">
    <small>{{response.responseDate}} | {{response.userName}}</small>
    <p class="header">{{response.header}}</p>
    <p>{{response.content}}</p>
  </div>
</div>
<br>
<a href="#" (click)="viewForm=!viewForm">add response</a>
<app-add-response-form *ngIf="viewForm" (response)="addResponse($event); viewForm=false"></app-add-response-form>
