
.btn-pill{
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 0vh 3vw; */
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
color: #ffffff;
font-family: Tahoma;
font-size: 1vw;
font-weight: 400;
}
.btn-pill:hover{
background-color: lightgray;
}

.inner-title{
    color: #af0000;
    font-size: 1.5vw;
    font-weight: bold;
}


.title{
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
}
body{
    text-align: center;
}
.close{
    display: inline-block;
}


.text{
    font-size: 1vw;
}

.btn-left{
    margin-right: 2vw;
}