<div>
  <i class="material-icons close" (click)="onNoClick()">close</i>
</div>
<body>
<span class="title">execute group <span  class="inner-title">{{getGroupName()}}</span> </span>
<hr>
<br>
<span class="text">not all the purchases of this group were done.
  <br>
  are you sure you want to delete this group?
  </span>
  <br><br>
  <button class="btn-pill btn-left" (click)="delete()">yes</button>
<button class="btn-pill" (click)="notDelete()">no</button>
</body>