
<app-googlemaps-autocomplete *ngIf="afterLoading" (setAddress)="getAddress($event)" adressType="geocode" [currentAddress]="userAddress"></app-googlemaps-autocomplete>



<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Store Name</th>
      <th>Category</th>
      <th>Kashrut</th>
      <th>Address</th>
      <th>Distance</th>
    </tr>
    <tr (click)="storeCohsen(store.store.id)" *ngFor="let store of storesList">
      <td>{{store.store.storeName}}</td>
      <td>{{store.store.storeCategory}}</td>
      <td>{{store.store.kashrutCertifiction}}</td>
      <td>{{store.store.storeAddress}}</td>
      <td>{{store.distance}}</td>
    </tr>
  </table>
</div>

{{userAddressPoint.lng}} | {{userAddressPoint.lat}}