
<div>
<br>
<!-- <form> -->
<!-- <div class="form-holder"> -->
<!-- <label class="form-row-inner"> -->
<br>

<span>group name</span>
<input type="text" #groupName>
<br>
<!-- </label> -->
<!-- </div> -->

<!-- <div class="form-holder" *ngIf="!exists"> -->
<!-- <label class="form-row-inner"> -->
<br>
<span>password</span>
<input type="text" #groupPassword>
<!-- </label> -->
<br>
<!-- </div> -->
<a (click)="joinToGroup(groupName.value , groupPassword.value)">join to the group</a>
<div *ngIf="exists">
<label>you join succefullly to the group {{groupName.value}}</label>
</div>
<div *ngIf="infoMessage && !exists">
    <label>this group does not exist. check the group name or create a new group</label>
</div>
<br>
<a (click)="createNewGroup(groupName.value , groupPassword.value)">create new group</a>


<!-- </form> -->
</div>