<div *ngIf="myCart.length>0">
  <table>
    <tr *ngFor="let product of myCart">
      <td>
        <h3 (click)="removeFromCart(product.id)" style="cursor: pointer;">X</h3>
        <img (click)="backToProduct(product.product)" class="cartImg" src="{{getProduct(product.product).productImage}}">
        <br>
        <p class="countText">
          <a (click)="editQuantity(product.id,-1)">-</a><span> {{product.productCount}} </span><a (click)="editQuantity(product.id,1)">+</a>
        </p>
      </td>
      <td>
        <h3>{{getProduct(product.product).productName}}</h3>
        <label *ngIf="getTaste(product.id) != ''">taste:</label>
        <span> {{getTaste(product.id)}}</span>
        <app-cart-additions *ngIf="haveAdditions(product.id)" [productId]="product.id" ></app-cart-additions>
      </td>
    </tr>
  </table>
<button type="button" class="btn" (click)="buy()"> buy now </button>
</div>
<div *ngIf="myCart.length==0">
  <h4 class="redText">You didn't order any item yet. please order and come back again!</h4>
</div>


