.redText{
    color: #af0000;
}

.cartImg{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

td{
    padding: 15px;
}

.countText{
    text-align: center;
    font-size: larger;
    color: #af0000;
    text-decoration: none #af0000;
}