<h1 mat-dialog-title>Product Details</h1>
<div mat-dialog-content>
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputName">Name</label>
        <input type="text" [(ngModel)]="model.additionName" name="additionName" class="form-control" id="inputName" placeholder="addition Name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputPrice">Price</label>
        <input type="number" [(ngModel)]="model.additionPrice" name="additionPrice" class="form-control" id="inputPrice" placeholder="Price" min="0">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <input type="checkbox" [(ngModel)]="model.additionStatus" name="additionStatus" class="form-control" id="inputStatus" required min="0">
        <label for="inputStatus">Status</label>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" [mat-dialog-close]="" cdkFocusInitial>Save</button>
</div>