

img{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

.header{
    margin: 0vh 3vw;
}


.headers-table{
    margin-left: 20px;
}


agm-map {
    height: 300px;
  }

  td{
      width:8vw;
      padding-right: 3vw;
  }

  th{
      padding: 5px;
  }


  .phoneH{
      width:90px;
  }
  .group{
      width:100vw;
      margin:5vh 0vw 5vh 0vw;
  }

  .purchaseDetails{
    width:5vw;
    margin:0px 2vw 0px 2vw;
  }

  .not-made{
      color:red;
      background-color: black;
  }

  .done{
      color:green;
  }

  .productTd{
      margin-right: 3vw;
      width: 10vw;
  }

  .done-link{
      font-size: 1.5vw;
      margin:0vh 0.3vw 0vh 0.3vw;
      text-align: center;
  }
  
.btn-pill{
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 0vh 3vw; */
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
color: #ffffff;
font-family: Tahoma;
font-size: 13px;
font-weight: 400;
}
.btn-pill:hover{
background-color: lightgray;
}

.doneI{
    float:right;
}

.sms{
    width: 40vw;text-align: right;
}