<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->


<div class="header">
<button type="button" class="btn btn-pill" style="float:right" (click)="openHistory()"> History</button>
<br>
<button type="button" class="btn btn-pill" style="float:left" (click)="loadReporting()"> {{load}}</button>
</div><br>
<br>
<div>
<!-- <ul *ngIf="!purchasesMode" style="list-style-type:none;">  <li> -->
  <table class="headers-table">
    <tr>
      <th>Name</th>
      <th class="phoneH">Phone</th>
      <th>Seats</th>
      <th>Club</th>
      <th>Time</th>
      <th>sum</th>
    </tr>
  </table></div>
<!-- </li></ul> -->
<ul id="purchasesBoard" class="list-group group">

</ul>
<span *ngIf="purchasesMode">there are no purchases.</span>
<br>





