<div class="container register-form">
    <form (ngSubmit)="signUp()" [formGroup]="signUpForm" class="form">
        <div class="note">
            <p>Sign Up</p>
        </div>
        <div class="form-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="userEmail">Email Address</label>
                        <br>
                        <input type="email" name="userEmail" formControlName="userEmail" class="form-control" required placeholder="Your Email *" inputmode="email"
                        [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }"/>
                        <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
                            <div *ngIf="f.userEmail.errors.required">E-mail is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userPassword">Password</label>
                        <br>
                        <input type="password" (change)="passwordEquals(confirmPassword.value)" name="userPassword" formControlName="userPassword" class="form-control" required minlength="8" maxlength="8" placeholder="Your Password *"
                        [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }"/>
                        <div *ngIf="submitted && f.userPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.userPassword.errors.required">Password is required</div>
                            <div *ngIf="f.userPassword.errors.minlength || f.userPassword.errors.maxlength">Password must contain 8 characters</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="userName">Full Name</label>
                        <br>
                        <input type="text" name="userName" formControlName="userName" class="form-control" required placeholder="Full Name *"
                        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"/>                        
                        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                            <div *ngIf="f.userName.errors.required">Full name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" #confirmPassword (change)="passwordEquals(confirmPassword.value)" class="form-control" placeholder="Confirm Password *" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="userPhone">Phone Number</label>
                        <br>
                        <input type="text" name="userPhone" formControlName="userPhone" class="form-control" placeholder="Phone *" required inputmode="tel"
                        [ngClass]="{ 'is-invalid': submitted && f.userPhone.errors }"/>
                        <div *ngIf="submitted && f.userPhone.errors" class="invalid-feedback">
                            <div *ngIf="f.userPhone.errors.required">Phone number is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Save" class="btnSubmit" [disabled]="loading" >
        </div>
      </form>
</div>