
.title{
color:#af0000;
font-weight: bold;
font-size: 40px;
}

.searchBox{
border: #af0000 1px solid;
}

.product{
    width:350px;
    height: 100px;
    border: #af0000 solid 1px;
    border-radius: 300px;
    margin:2px;
    padding: 8px;
}

.image{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    
    margin: 0vh 2px ;
}
.product-name{
    color: #af0000;
    font-weight: bold;
    font-size: 20px;
}

.store-name{
    font-size:15px;
}

.product-text{
    display: inline-block;
    margin: 3px 2px 0px 2px ;
}

.price{
    font-size: 30px;
    font-weight: bold;
    float: right;
    margin: 0vh 2px ;
}
.address{
    display: inline-block;
}

.link{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.link.active{
    color: #AF0000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.link-div{
    display: inline-block;
    margin: 5px;
}

.filter{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.inner-location{
    border: none;
    position: absolute;
    margin-left: -60px;
    background-color: #ffffff;
    margin-top: -5px;
}

.btn-pill{
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    display: block;
    cursor: pointer;
    border-radius: 14px;
    float: right;
    margin-right: 10px;
    color: #ffffff;
}
.btn-pill:hover{
    background-color: lightgray;
    color: #af0000;
}
.inner-list{
    position: absolute;
    background-color: #ffffff;
    width: 80px;
    text-align: center;
    border: 1px solid #af0000;
    padding: 10px;
    border-radius: 10px;
    margin-left: -11px;
}

.clear{
    color: gray;
    font-weight: bold;
    margin-left: 10px;
}