<button class="btn-pill center-btn" (click)="stores()">Store</button>
<br>
<input type="text" #searchBox class="searchBox" placeholder="free search" (keyup)="(0)">
<br>

<div class="filter">
  <strong>filter by: </strong>
  <div class="link-div">
    <a class="link" [class.active]="filter=='category'" (click)="changeFilter('category')"> category </a>
    <div class="inner-list" *ngIf="filter=='category'">
      <p *ngFor="let c of categoriesList"><a (click)="categoryFilter(c.Id)" class="link">{{c.Category}}</a></p>
    </div>
  </div>
  <div class="link-div">
    <a class="link" [class.active]="filter=='kashrut'" (click)="changeFilter('kashrut')"> kashrut </a>
    <div class="inner-list" *ngIf="filter=='kashrut'">
      <p *ngFor="let h of hechshersList">
        <a (click)="kashrutFilter(h.Id)" class="link">{{h.Hechsher}}</a>
      </p>
    </div>
  </div>
  <div class="link-div">
    <a class="link" [class.active]="filter=='location'" (click)="changeFilter('location')"> location </a>
    <div class="inner-location" *ngIf="filter=='location'">
      <br>
      <app-googlemaps-autocomplete #location *ngIf="afterLoading" (setAddress)="getAddress($event)" adressType="geocode"
        [currentAddress]="userAddress"></app-googlemaps-autocomplete>
    </div>
  </div>
  <div class="link-div">
    <span class="link" (click)="sort=!sort;filter=''" [class.active]="sort"> sort </span>
    <div class="inner-list" *ngIf="sort">
      <a class="link" (click)="sortByDistance()">Distance</a>
      <br>
      <a class="link" (click)="sortByName()">Store name</a>
      <br>
      <a class="link" (click)="sortByCategory()">Category</a>
    </div>
  </div>
  <div class="link-div">
    <span class="link clear" (click)="clearFilters()"> clear </span>
  </div>
</div>


<div *ngFor="let productAD of sortedList | productSearch:searchBox.value" class="product"
  (click)="chooseProduct(productAD.product.id)">
  <img class="image" src="{{productAD.product.productImage}}">
  <div class="product-text">
    <span class="product-name">{{productAD.product.productName}}</span>
    <br>
    <span class="store-name">{{productAD.store.storeName}}</span>
  </div>
  <span class="price">{{productAD.product.productPrice}}₪</span>
  <!-- <div class="address">
    <span>{{productAD.location}}</span>
  </div> -->
</div>