


  <span class="title">Duty</span>
  <br>
<div class="workers">
  <div *ngFor="let worker of workers" class="image" title="{{worker.userName}}">
   <span>{{worker.userName[0]}}</span></div>
</div>
<br><br>
<button class="btn-pill"  (click)="openLoginDialog()">add worker</button>