
.workers{
    display: inline-block;
}

.image{
    width: 40px;
    height: 40px;
    border-radius:40px ;
    color: black;
    margin: 5px;
    background-color: #af0000;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.icon{
    width:50px;
}

.title{
    font-size: 20px;
    color: #af0000 ;
    text-align: center;
    margin-left: 40px;
}

.btn-pill{
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 0vh 3vw; */
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
color: #ffffff;
font-family: Tahoma;
font-size: 13px;
font-weight: 400;
}
.btn-pill:hover{
background-color: lightgray;
}