<div class="personal-wizard">
  <form class="form-register" #myForm="ngForm">
    <span class="wizard-title">Personal Details</span>
    <br><br>
    <span>Full Name:</span>
    <input type="text" (change)="isValid()" id="first-name" class="form-control inputs" name="first-name" [(ngModel)]="name" required>
    <br>
    <span>Phone Number:</span>
    <input type="text" (change)="isValid()" id="phone" class="form-control inputs" name="phone" [(ngModel)]="phone" required
      pattern="^0?(([23489]{1}\d{7})|[5]{1}\d{8})$">
    <br><br>
    <a (click)="expandGroup()" class="group-a">Add a Group:</a>
    <app-group *ngIf="group" class="groupComp"></app-group>
    <br>
  </form>
</div>