.next_btn{
/* position: absolute; */
/* bottom: 0; */
    margin-left: 20vw;
}

.wizard-title{
    color:#af0000;
    font-weight: bold;
    font-size: 30px;
}

.group-a{
    color:black;
}
.personal-wizard{
    position: relative;
}

.footer-wizard{
    /* float: inline-end; */
    position: absolute;
    /* padding: 2vh; */
    bottom: 0;
}
.btn-pill{
    /* float: right; */
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 0vh 3vw; */
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
color: #ffffff;
font-family: Tahoma;
font-size: 13px;
font-weight: 400;
}
.btn-pill:hover{
background-color: lightgray;
}