<form (ngSubmit)="signUp()" class="form">
    <div class="row">
        <div class="form-group">
            <label for="userEmail">Email Address</label>
            <br>
            <input (focus)="errorMessage=''" type="email" name="userEmail" class="form-control" required
                placeholder="Your Email *" inputmode="email" #userEmail="ngModel" [(ngModel)]="user.userEmail"
                [ngClass]="{ 'is-invalid': userEmail && userEmail.errors }" />
            <div *ngIf="userEmail && userEmail.errors" class="lblError">
                <mat-error *ngIf="userEmail.errors.required && (userEmail.dirty || userEmail.touch)">
                    <p class="err">Email address is required</p>
                </mat-error>
                <mat-error *ngIf="userEmail.errors.minlength">
                    <p class="err">Email address must contain at least 2 characters</p>
                </mat-error>
                <mat-error *ngIf="userEmail.errors.maxlength">
                    <p class="err">Email length is too long</p>
                </mat-error>
            </div>
        </div>
        <div class="form-group">
            <label for="userPassword">Password</label>
            <br>
            <input (focus)="errorMessage=''" type="password" name="userPassword" #userPassword="ngModel" [(ngModel)]="user.userPassword"
                class="form-control" required minlength="8" maxlength="8"
                placeholder="Your Password *" [ngClass]="{ 'is-invalid': userPassword.errors }" />
            <div *ngIf="userPassword.errors" class="lblError">
                <p class="err" *ngIf="userPassword.errors.required && (userPassword.dirty || userPassword.touch)">
                    <label>Password is required</label>
                </p>
                <p class="err" *ngIf="userPassword.errors.minlength">
                    <label>Password must contain at least 4 characters</label>
                </p>
                <p class="err" *ngIf="userPassword.errors.maxlength">
                    <label>Password length cannot exceed 20 characters</label>
                </p>
                <!-- <br><br> -->
            </div>
        </div>
        <div class="form-group">
            <label for="userName">Full Name</label>
            <br>
            <input (focus)="errorMessage=''" type="text" name="userName" class="form-control" #userName="ngModel" [(ngModel)]="user.userName"
                placeholder="Full Name *" [ngClass]="{ 'is-invalid': userName.errors }" required
                minlength="2" maxlength="15" />
            <div *ngIf="userName.errors" class="lblError">
                <p class="err" *ngIf="userName.errors.required && (userName.dirty || userName.touch)">
                    <label>Name is required</label>
                </p>
                <p class="err" *ngIf="userName.errors.minlength">
                    <label>Name must contain at least 2 characters</label>
                </p>
                <p class="err" *ngIf="userName.errors.maxlength">
                    <label>Name length cannot exceed 15 characters</label>
                </p>
                <!-- <br><br> -->
            </div>
        </div>
        <div class="form-group">
            <label for="userPhone">Phone Number</label>
            <br>
            <input  pattern="[0-9]*" (focus)="errorMessage=''" type="text" name="userPhone" #userPhone="ngModel" [(ngModel)]="user.userPhone" class="form-control"
                placeholder="Phone *" required inputmode="tel" minlength="9" maxlength="10"
                [ngClass]="{ 'is-invalid': userPhone.errors }" />
            <div *ngIf="userPhone.errors" class="lblError">
                <p class="err" *ngIf="userPhone.errors.required && (userPhone.dirty || userPhone.touch)">
                    <label>Phone number is required</label>
                </p>
                <p class="err" *ngIf="userPhone.errors.minlength || userPhone.errors.maxlength">
                    <label>Phone number is must be 9-10 digits</label>
                </p>
                <!-- <br><br> -->
            </div>
        </div>
    </div>
    <input type="submit" value="Save" class="btn-pill" [disabled]="loading">
    <span *ngIf="errorMessage!=''">{{errMessage}}</span>
</form>