.form{
    padding: 10px;
}
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
    float: right;
}
.btn-pill{
    float: right;
    background-color: #af0000;
    border: none;
    padding:6px 18px;
    text-align: center;
    text-decoration: none;
    margin: 0vh 3vw;
    cursor: pointer;
    border-radius: 14px;
    /* Style for "add to car" */
    color: #ffffff;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: 400;
    width: 100px;
    }
.btn-pill:hover{
    background-color: lightgray;
}
.err{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #af0000;
}