<div id="registration-wizard" class="login-wizard">
    <div class="content">
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <br>
            <div class="form-group">
                <div class="form-group">
                    <label for="userName">Name</label>
                    <br>
                    <input type="text" name="userName" formControlName="userName" class="form-control" required placeholder="Full Name" value=""
                    [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"/>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="userPhone">Phone Number</label>
                <br>
                <input type="text" name="userPhone" formControlName="userPhone" class="form-control" placeholder="Phone *" required inputmode="tel"
                [ngClass]="{ 'is-invalid': submitted && f.userPhone.errors }"/>
            </div>
            <br>
            <!--old password-->
            <div class="form-group">
                <label>Old Password: </label>
                <div class="input-group">
                    <input type="password" name="userPassword" class="form-control inputs" placeholder="Password"
                        [(ngModel)]="user.userPassword" id="password" required minlength="4" maxlength="20"
                        #userPassword="ngModel">
                </div>
            </div>
            <!--new password-->
            <div class="form-group">
                <label>New Password: </label>
                <div class="input-group">
                    <input type="password" name="userPassword" class="form-control inputs" placeholder="Password"
                        [(ngModel)]="user.userPassword" id="password" required minlength="4" maxlength="20"
                        #userPassword="ngModel">
                </div>
                <div *ngIf="userPassword.errors" class="lblError">
                    <div *ngIf="userPassword.errors.required && (userPassword.dirty || userPassword.touch)">
                        <label>Password field is required</label>
                        <br>
                        <br>
                    </div>
                    <div *ngIf="userPassword.errors.minlength">
                        <label>Password must contain at least 6 characters</label>
                        <br>
                        <br>
                    </div>
                    <div *ngIf="userPassword.errors.maxlength">
                        <label>Password length cannot exceed 20 characters</label>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>