<div *ngIf="productsAdditions && productsAdditions.length>0">
  <div class="additions-title">
    <span>Additions</span></div>
  <span class="additions-count">you can choose {{additionsCount()}} for free</span>
  <br>
  <div class="addition-div" [class.chosenAdditionDiv]="isChosen(a.id)" *ngFor="let a of productsAdditions" (click)="additionChosen(a.id)">
    <img class="additions-img" src="{{a.additionImage}}">
    <br>
    <span class="addition-name">{{a.additionName}} </span>
    <br>
    <span class="price">{{a.additionPrice}}₪</span>
    <br>
  </div>
</div>