img{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}
.addition-name{
    color: #000000;
    font-size: 14px;
    margin-top: 2px;
}
.addition-div{
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.chosenAdditionDiv{
    display: inline-block;
    margin: 10px;
    text-align: center;
    opacity: 0.5;
}
.additions-title{
    color: #af0000;
    font-size: 20px;
    font-weight: 700;
}
.additions-count{
    color: #717171;
    font-size: 16px;
}
.additions-img{
    width: 60px;
    height: 60px;
    border: 1px solid #af0000;
}
.img-badge{
    width: 38px;
    height: 38px;
    border: 1px solid #000000;
    background-color: #af0000;
    border-radius: 38px;
}
.price{
    color: #af0000;
    font-size: 16px;
}
.v-design
{
    top: -30px;
}